{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Encrypt</title>

    <!-- ===============================================--><!--    Favicons--><!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json'%}">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================--><!--    Stylesheets--><!-- ===============================================-->
    <link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

  </head>
  <body>
    <main class="main" id="top">
      <div class="content">
        <nav class="navbar navbar-expand-md fixed-top" id="navbar" data-navbar-soft-on-scroll="data-navbar-soft-on-scroll">
          <div class="container-fluid px-0"><a href="/"><img class="navbar-brand w-75 d-md-none" src="{% static 'img/logos/logo.svg' %}" alt="logo" /></a><a class="navbar-brand enlogo fw-bold d-none d-md-block" href="/">〽️Encrypt.Genius</a><a class="btn btn-primary btn-sm ms-md-x1 mt-lg-0 order-md-1 ms-auto" href="{% url 'encrypt_view' %}">Perform Encryption </a><button class="navbar-toggler border-0 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-md-end" id="navbar-content" data-navbar-collapse="data-navbar-collapse">
              <ul class="navbar-nav gap-md-2 gap-lg-3 pt-x1 pb-1 pt-md-0 pb-md-0" data-navbar-nav="data-navbar-nav">
                <li class="nav-item"> <a class="nav-link lh-xl" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link lh-xl" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link lh-xl" href="#encryption">Encryption</a></li>
                <li class="nav-item"><a class="nav-link lh-xl" href="#decryption">Decryption</a></li>

              </ul>
            </div>
          </div>
        </nav>
        <div data-bs-target="#navbar" data-bs-spy="scroll" tabindex="0">
          <section class="hero-section overflow-hidden position-relative z-0 mb-2 mb-lg-0" id="home">
            <div class="hero-background">
              <div class="container">
                <div class="row gy-4 gy-md-8 pt-2 pt-lg-0">
                  <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="fs-4 fs-lg-3 text-white sim fw-bold mb-2 mb-lg-x1 lh-base mt-3 mt-lg-0" style="margin-top: -100px;"> Get to encrypt <span class="text-nowrap"> your text</span></h1>
                    <p class="fs-8 fs-lg-9 About-aes text-white small mb-3 mb-lg-4 lh-lg">With EncryptGenius, you get to know how the Advanced Encryption Standard works and see its practical aspects</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                      <a class="btn btn-primary btn-lg lh-xl mb-4 mb-md-5 mb-lg-7" href="{% url 'encrypt_view' %}">Try it out!</a>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start gap-2 position-relative z-2">
                      <a class="border-0 p-0 bg-transparent cursor-pointer rounded-1" href="#!"></a>
                      <a class="border-0 p-0 bg-transparent cursor-pointer rounded-1" href="#!"></a>
                    </div>
                  </div>
                  <div class="col-lg-6 position-lg-relative">
                    <div class="position-lg-absolute z-1 text-center"> 
                      <dotlottie-player src="https://lottie.host/637ba1b1-dbcf-4673-86b9-78d950930158/FHrAnpnmC1.json" background="transparent"  style="width: 500px; height: 500px; margin-top: -100px;" loop autoplay></dotlottie-player>
                      <div class="position-absolute dots d-none d-md-block"> <img class="img-fluid w-50 w-lg-75" src="{% static 'img/illustrations/Dots.webp' %}" alt="" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-absolute bottom-0 start-0 end-0 z-1"><img class="wave mb-md-n2" src="{% static 'img/illustrations/Wave.svg' %}" alt="" />
              <div class="bg-white py-2 py-md-5"></div>
            </div>
          </section>
        </div>
        
          </section>
          <section class="container mb-8 mt-5  mb-lg-13" id="about">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 col-xl-7"><img class="img-fluid" src="https://miro.medium.com/v2/resize:fit:1080/1*gnbFp94Dwa4Kas_CbVLqaQ.png" alt="" /></div>
              <div class="col-12 col-lg-6 col-xl-5">
                <div class="row justify-content-center justify-content-lg-start">
                  <div class="col-sm-10 col-md-8 col-lg-12">
                    <h2 class="fs-8 fs-lg-5 fw-bold mb-2 text-center mt-0 text-lg-start About-aes">About AES-256 Encryption and Decryption.</h2>
                    <p class="fs-8 mb-4 mb-lg-5 fs-lg-9 lh-lg text-center text-lg-start dancing fw-normal">Welcome to Encrypt.Genius, your guide to understanding and harnessing the power of AES-256 encryption to encrypt and decrypt plain-text! AES-256, also known as the Advanced Encryption Standard with a key length of 256 bits, is a symmetric encryption algorithm widely recognized for its robust security features and efficiency in securing sensitive data.</p>
                  </div>
                  <div class="col-12">
                    <div class="mb-x1 mb-lg-3">
                      <h5 class="fs-8 fw-bold lh-lg mb-1 About-aes">What is AES-256 Encryption </h5>
                      <p class="mb-0 lh-xl">AES-256 encryption is a symmetric key algorithm used for securing data transmission and storage by encrypting plaintext into ciphertext using a secret encryption key. It operates on fixed-size blocks of data. <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard " class="text-primary ">Read more</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="container mb-8 mb-lg-13" id="decryption">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 col-xl-5 order-lg-1"><img class="img-fluid" src="{% static 'img/Hero/Collaborator.webp' %}" alt="" /></div>
              <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-center justify-content-lg-start">
                  <div class="col-sm-10 col-md-8 col-lg-11">
                    <h2 class="fs-4 fs-lg-6 fw-bold mb-2 text-center text-lg-start About-aes">Decryption with Aes256</h2>
                    <p class="b-0 lh-xl"Decryption with AES-256>
                    Decryption plays a vital role in securely accessing and retrieving data that has been encrypted using strong cryptographic algorithms like AES-256. In this section, we delve into the process of decrypting data encrypted with AES-256, highlighting its importance and underlying principles.

                    Understanding AES-256 Decryption:
                    AES-256, a variant of the Advanced Encryption Standard (AES), employs a 256-bit encryption key to protect sensitive information. Decrypting data encrypted with AES-256 involves reversing the encryption process to recover the original plaintext. This decryption process requires the correct decryption key, ensuring that only authorized parties can access the decrypted data.

                    Decrypting Encrypted Data:
                    To decrypt data encrypted with AES-256:

                    Obtain the encrypted data and the corresponding decryption key.
                    Utilize the AES-256 decryption algorithm to transform the ciphertext back into plaintext.
                    Validate the integrity of the decrypted data and ensure its accuracy.
                    Safeguard the decryption key to prevent unauthorized access and maintain data confidentiality.</p>
                  </div>
                  <div class="col-12">
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="container mb-8 mb-lg-11">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-7">
                <h3 class="fs-4 fs-lg-3 fw-bold text-center mb-2 mb-lg-x1 About-aes"> How does <span class="text-nowrap">it work?</span></h3>
                <p class="fs-8 mb-7 mb-lg-8 text-center lh-lg">You can use this to encrypt plaintext following the AES-256 pattern.</p>
              </div>
              <div class="col-12">
                <div class="row g-sm-2 g-lg-3 align-items-center timeline">
                  <div class="col-12 col-lg-4 d-flex flex-row flex-lg-column justify-content-center gap-2 gap-sm-x1 gap-md-4 gap-lg-0">
                    <div class="timeline-step-1 w-25 w-lg-100 mb-4 mb-lg-5 mb-xl-6">
                      <div class="timeline-item d-flex justify-content-center">
                        <div class="timeline-icon bg-primary rounded-circle d-flex justify-content-center align-items-center"><span class="fs-6 fs-lg-5 fs-xl-4 text-white"> 1</span></div>
                      </div>
                    </div>
                    <div class="py-1 py-lg-0 px-lg-5 w-75 w-sm-50 w-lg-100 timeline-content">
                      <h6 class="fs-8 fw-bold text-lg-center lh-lg mb-2">Encryption button</h6>
                      <p class="text-lg-center lh-xl mb-0">Navigate the encryption button</p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 d-flex flex-row flex-lg-column justify-content-center gap-2 gap-sm-x1 gap-md-4 gap-lg-0">
                    <div class="timeline-step-2 w-25 w-lg-100 mb-4 mb-lg-5 mb-xl-6">
                      <div class="timeline-item d-flex justify-content-center">
                        <div class="timeline-icon bg-success rounded-circle d-flex justify-content-center align-items-center"><span class="fs-6 fs-lg-5 fs-xl-4 text-white"> 2</span></div>
                      </div>
                    </div>
                    <div class="py-1 py-lg-0 px-lg-5 w-75 w-sm-50 w-lg-100 timeline-content">
                      <h6 class="fs-8 fw-bold text-lg-center lh-lg mb-2">Add plain text</h6>
                      <p class="text-lg-center lh-xl mb-0">Start with entering plain text <span class="text-nowrap">your channels. </span></p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 d-flex flex-row flex-lg-column justify-content-center gap-2 gap-sm-x1 gap-md-4 gap-lg-0">
                    <div class="timeline-step-3 position-relative z-1 overflow-hidden w-25 w-lg-100 mb-4 mb-lg-5 mb-xl-6">
                      <div class="timeline-item d-flex justify-content-center">
                        <div class="timeline-icon bg-info rounded-circle d-flex justify-content-center align-items-center"><span class="fs-6 fs-lg-5 fs-xl-4 text-white"> 3</span></div>
                      </div>
                    </div>
                    <div class="py-1 py-lg-0 px-lg-5 w-75 w-sm-50 w-lg-100 timeline-content">
                      <h6 class="fs-8 fw-bold text-lg-center lh-lg mb-2">Add key</h6>
                      <p class="text-lg-center lh-xl mb-0">Next enter key, then encrypt</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section class="bg-300" id="encryption">
            <div class="container py-8 py-lg-10">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                  <h3 class="fs-6 fs-lg-5 fw-bold text-center mb-2 mb-lg-x1 lh-sm About-aes">Encryption with AES-256</h3>
                  <p class="fs-9 mb-3 mb-lg-8 text-center lh-lg fw-normal">AES-256, or Advanced Encryption Standard with a key size of 256 bits, stands as one of the most secure and widely used encryption algorithms today. Its adoption in numerous applications, ranging from data protection to secure communication channels, underscores its robustness and reliability in safeguarding sensitive information.

                    At its core, AES-256 employs symmetric-key cryptography, meaning that the same key is used for both encryption and decryption processes. This simplicity in key management, coupled with its formidable encryption strength, makes AES-256 a cornerstone in modern encryption techniques.
                    
                     </p>
                    <p class="fs-9 mb-3 mb-lg-8 text-center lh-lg fw-normal" id="additional">The AES-256 encryption process involves several key steps:
                    
                      Key Expansion: The encryption key undergoes an expansion process to generate a set of round keys, which are used in subsequent encryption rounds.
                      
                      Initial Round: The plaintext is combined with the initial round key using a process called AddRoundKey.
                      
                      Rounds: Multiple rounds of transformations are applied to the data, including byte substitution, row shifting, column mixing, and additional key mixing. These operations create confusion and diffusion, ensuring the ciphertext's resistance against cryptanalysis.Final Round: In the last encryption round, the data undergoes a modified set of transformations, omitting the column mixing step.

                      Output: The final encrypted data, known as ciphertext, is generated, ready to be transmitted or stored securely.
                      
                      AES-256 encryption offers a high level of security, with a key length that provides an immense number of possible combinations, rendering brute-force attacks practically infeasible. Its widespread adoption by governments, financial institutions, and technology companies attests to its trustworthiness in protecting sensitive data.</p>
                </div>
                <div class="readmore text-center">
                  <button class="btn btn-primary p-2" id="read-more-btn">Read more</button>
                </div>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
         
          <section class="bg-300 position-relative z-0" id="contact">
            <div class="container py-8 py-lg-9">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8">
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                      <h2 class="fs-4 fs-lg-5 fw-bold text-center mb-2 lh-sm more">Want to read more about the Advanced encryption standard</h2>
                      <p class="fs-8 mb-4 mb-lg-6 text-center lh-lg fw-normal">visit the following</p>
                    </div>
                    <div class="col-10 col-lg-7">
                      <ul class="text-center list-unstyled  fs-9">
                        <a href="https://www.cloudwards.net/what-is-aes/"><p>🌐 www.clodways.net</p></a>
                        <a href="https://www.techtarget.com/searchsecurity/definition/Advanced-Encryption-Standard"><p>🌀 www.techtarget.com</p></a>
                        <a href="https://csrc.nist.gov/pubs/fips/197/final"><p>🌏 csrc.nist.gov</p></a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-absolute bottom-0 end-0 z-n1 d-none d-lg-block"><img src="{% static 'img/illustrations/Green_dots.svg' %}" alt="" /></div>
            <div class="position-relative bottom-0 start-0 z-1"><img class="img-fluid w-100" src="{% static 'img/illustrations/Wave_3.svg' %}" alt="" /></div>
          </section>
        </div><button class="btn scroll-to-top text-white rounded-circle d-flex justify-content-center align-items-center bg-primary" data-scroll-top="data-scroll-top"><span class="uil uil-angle-up"></span></button>
        <footer class="pt-7 pt-lg-8">
          <div class="container">
            <div class="row gy-4 g-md-3 border-bottom pb-8 pb-lg-9 justify-content-center">
                
              <div class="col-6 col-md-3 d-md-flex flex-column align-items-md-end pe-md-0">
                
                
              </div>
            </div>
            <div class="row gy-2 py-3 justify-content-center justify-content-md-between">
              <div class="col-auto ps-0">
                <p class="text-center text-md-start lh-xl text-1100"> © 2024 Copyright,  Made by <a class="fw-semi-bold" href="">M.soft </a>❤️</p>
              </div>
              <div class="col-auto pe-0"><a class="icons fs-8 me-3 me-md-0 ms-md-3 cursor-pointer" href="#!"><span class="uil uil-twitter"> </span></a><a class="icons fs-8 me-3 me-md-0 ms-md-3 cursor-pointer" href="#!"><span class="uil uil-instagram"></span></a><a class="icons fs-8 me-3 me-md-0 ms-md-3 cursor-pointer" href="#!"><span class="uil uil-linkedin"> </span></a></div>
            </div>
          </div>
        </footer>
      </div>
    </main>
<!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->


    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'is/is.min.js' %}"></script>
    <script src="{% static 'countup/countUp.umd.js' %}"></script>
    <script src="{% static 'swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  </body>

</html>